<%-include("partials/header") -%>
<div class="containers">
  <h1>Home</h1>
  <p><%= startingcontent %></p>
</div>

<% posts.forEach(function(post){ %>
<div class="containers">
  <h1><%= post.title %></h1>
  <p>
    <%= post.content.substring(0,100)+"..." %>
    <a href="/posts/<%= post._id %>">Read more</a>
  </p>
</div>
<% }) %> <%-include("partials/footer")-%>
